.styleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: #282c34;
    color: #f9f9ff;
    border-radius: 15px;
    font-size: 25px;
    padding: 35px;
    margin: 30px;
    border: 1px solid #00efff;
}

.styleButtonError {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: red;
    color: #f9f9ff;
    border-radius: 15px;
    font-size: 25px;
    padding: 35px;
    margin: 30px;
    border: 2px solid red;
}
.styleButton:disabled {
    opacity: .5;
}
